@charset "UTF-8";
.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 300px;
}

.mobile-menu .logo {
  padding: 0 40px;
  font-size: 38px;
}

.mobile-menu .logo__img {
  width: 50px;
  height: 50px;
}

.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none;
  cursor: pointer;
}

.mobile-menu__btn > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 200;
}

.mobile-menu__main {
  padding: 0;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.mobile-menu__item {
  list-style: none;
  display: block;
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
  opacity: 0;
}

.mobile-menu__link {
  display: block;
  margin-top: 30px;
  color: black;
  text-decoration: none !important;
}

.menu-open #container {
  -webkit-transform: translate(-300px, 50px);
          transform: translate(-300px, 50px);
  -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.main-title {
  font-weight: 600;
  font-size: 25px;
}

.sub-title {
  display: block;
  font-size: 14px;
  color: #535353;
}

.modal {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  max-width: 300px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.fade-enter {
  /*開始の状態を指定する*/
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.fade-enter-to {
  /*終了の状態を指定する*/
  opacity: 1;
}

.fade-enter-active {
  /*動作（イージングや時間）を指定する*/
  -webkit-transition: opacity 300ms ease-out, -webkit-transform 300ms ease-out;
  transition: opacity 300ms ease-out, -webkit-transform 300ms ease-out;
  transition: opacity 300ms ease-out, transform 300ms ease-out;
  transition: opacity 300ms ease-out, transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fade-leave-active {
  -webkit-transition: opacity 270ms ease-out, -webkit-transform 270ms ease-out;
  transition: opacity 270ms ease-out, -webkit-transform 270ms ease-out;
  transition: opacity 270ms ease-out, transform 270ms ease-out;
  transition: opacity 270ms ease-out, transform 270ms ease-out, -webkit-transform 270ms ease-out;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container {
  width: 80vw;
  height: 80vh;
  max-width: 2560px;
  margin: 0 auto;
  padding: 60px 2vw 80px;
  border: 2px solid #aaa;
  text-align: center;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.thread-modal-container {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #aaa;
  text-align: center;
  color: #333333;
  background: #F5F5F5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.thread-modal-container h2 {
  color: #4d4c4c !important;
  font-size: 24px;
  margin: 0 auto 30px auto;
}

.thread-modal-container form .title-input {
  width: 400px;
  height: 24px;
  font-size: 16px;
  padding: 4px 3px;
  border: 1px solid #646464;
  border-radius: 3px;
  background-color: #F8F8FF;
}

.thread-modal-container form .thread-submit-btn-wrap {
  margin: 25px;
}

.thread-modal-container form .thread-submit-btn-wrap .thread-submit-btn {
  width: 60px;
  height: 40px;
  background-color: #444444;
  color: #F8F8FF;
  cursor: pointer;
}

.item-modal-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #aaa;
  text-align: center;
  color: #333333;
  background: #F5F5F5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-modal-container h1 {
  margin: 0 auto 20px auto;
  text-shadow: none !important;
}

.item-modal-container form {
  text-align: left;
}

.item-modal-container form .title-input {
  width: 400px;
  height: 24px;
  font-size: 16px;
  padding: 4px 3px;
  border: 1px solid #646464;
  border-radius: 3px;
  background-color: #F8F8FF;
}

.item-modal-container form h3 {
  margin: 10px 10px 5px auto;
  font-size: 18px;
  color: #444444;
}

.item-modal-container form select {
  width: 100px;
  height: 30px;
  border: 1px solid black;
}

.item-modal-container form .item-submit-btn-wrap {
  text-align: center;
  margin: 50px;
}

.item-modal-container form .item-submit-btn-wrap .item-submit-btn {
  width: 60px;
  height: 40px;
  background-color: #444444;
  color: #F8F8FF;
  cursor: pointer;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.modal-body {
  margin: 20px 0;
  width: 80vw;
  height: 80vh;
}

.modal-body img {
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-image-container {
  width: 80vw;
  height: 80vh;
  max-width: 1280px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  pointer-events: none;
}

.modal-full-image {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal-enter {
  opacity: 0;
}

.modal-enter .modal-container {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.modal-leave-active {
  opacity: 0;
}

.modal-leave-active .modal-container {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.modal-image-enter {
  opacity: 0;
}

.modal-image-enter .modal-image-container {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.modal-image-leave-active {
  opacity: 0;
}

.modal-image-leave-active .modal-image-container {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

* {
  margin: 0;
  padding: 0;
}

#main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 0;
}

#container {
  background-color: #F5F5F5;
  position: relative;
  height: 100vh;
  z-index: 10;
  -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
}

body {
  margin: 0;
}

.wrap {
  overflow: hidden;
}

.main-contents {
  position: relative;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
}

/*
@media (min-width: 600px) {
  #main-content {
    display: flex;
  }
  #content-1 {
    flex-grow: 1;
  }
  #content-2 {
    flex-grow: 1;
  }
}*/
.sidebar {
  position: relative;
  display: block;
  top: 80px;
  width: 220px;
  height: 1000px;
  background-color: #4d4c4c;
}

.sidebar__dummy-space {
  position: relative;
}

.sidebar__dummy-space__1 {
  height: 30px;
}

.sidebar__dummy-space__2 {
  height: 15px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul > li {
  margin: 0;
  line-height: 30px;
}

.sidebar ul > li:hover {
  background-color: #F5F5F5;
}

.sidebar ul > li:hover a {
  color: #333333;
}

.sidebar ul > li a {
  display: block;
  width: 170px;
  text-decoration: none;
  font-size: 12px;
  color: #D0D0D0;
  padding: 2px 10px 2px 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar h2 {
  text-align: center;
  margin: 0 0 5px 0;
  color: #D3D3D3;
}

.sidebar h3 {
  font-size: 16px;
  color: #D3D3D3;
  padding: 5px 10px 5px 20px;
}

.btn-wrap {
  position: relative;
  height: 50px;
}

.new-thread-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 120px;
  border-radius: 2px;
  background-color: #3c8d93;
  border: none;
  color: #F8F8FF;
  padding: 5px 10px;
  cursor: pointer;
}

.new-thread-btn:hover {
  background-color: #2d6975;
  border: 1px solid #F8F8FF;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.main {
  position: relative;
  top: 80px;
  width: 1000px;
  height: 1000px;
  background-color: #F5F5F5;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main h1 {
  text-align: center;
  color: #606060;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.item-list {
  position: relative;
  top: 100px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.item-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  height: 300px;
  margin: 10px;
  background-color: lightgray;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
  overflow: hidden;
}

.item-list > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.item-list > li > a > img {
  width: 280px;
  height: 210px;
  margin: 15px auto 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-list > li > a .title {
  font-size: 14px;
  font-weight: bold;
  color: darkslategray;
  margin: 5px 10px;
}

.item-list > li > a .tag {
  position: absolute;
  font-size: 8px;
  color: darkslategray;
  margin: 0 20px 0 0;
  bottom: 5px;
  right: 5px;
}

.item-btn-wrap {
  position: relative;
  height: 30px;
}

.new-item-btn {
  position: absolute;
  top: 0;
  right: 10px;
  width: 150px;
  font-size: 18px;
  border-radius: 2px;
  background-color: #f88282;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
  color: #F8F8FF;
  padding: 5px 10px;
  cursor: pointer;
}

.new-item-btn:hover {
  background-color: #f05757;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.mc50-list {
  top: 100px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.mc50-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  height: 260px;
  margin: 10px;
  background-color: lightgray;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.mc50-list > li > div {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.mc50-list > li > div .ranking {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin: 5px auto;
}

.mc50-list > li > div > img {
  width: 280px;
  height: 210px;
  margin: 5px auto 5px auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.chat-board {
  display: block;
  position: fixed;
  top: 130px;
  left: 1000px;
}

.slide-images {
  display: block;
  position: relative;
  top: 130px;
  left: 100px;
}

.main-image {
  display: block;
  position: relative;
  width: 800px;
  height: 600px;
  cursor: pointer;
}

.sub-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 30px;
  left: 0;
}

.sub-images__element {
  width: 120px;
  height: 90px;
  margin: 20px;
  cursor: pointer;
}

.hover-darken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  pointer-events: none;
}

.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.hover-darken-event::before {
  pointer-events: painted;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #333333;
  color: #F8F8FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__li {
  margin-left: 20px;
}

.header__li > a {
  text-decoration: none !important;
  text-transform: uppercase;
}

.header .logo {
  font-size: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .logo__img {
  width: 80px;
  height: 80px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.image-animation {
  -webkit-animation: SlideIn 2s;
          animation: SlideIn 2s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.text-animation-1 {
  -webkit-animation: FadeIn 1s;
          animation: FadeIn 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.text-animation-2 {
  -webkit-animation: FadeIn 1s;
          animation: FadeIn 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.button-animation {
  -webkit-animation: FadeIn 1s;
          animation: FadeIn 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.image {
  position: relative;
  color: black;
  font-family: serif;
}

.image img {
  position: relative;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
}

.image__button-1 {
  position: absolute;
  top: calc(10%);
  right: calc(10%);
  opacity: 0;
  font-family: serif;
  font-size: 2em;
  z-index: 10;
}

.image__button-2 {
  position: absolute;
  top: calc(30%);
  left: calc(10%);
  opacity: 0;
  font-family: serif;
  font-size: 2em;
  z-index: 10;
}

.image__button-3 {
  position: absolute;
  bottom: calc(30%);
  right: 100px;
  opacity: 0;
  font-family: serif;
  font-size: 2em;
  z-index: 10;
}

.image__text-1-1 {
  position: absolute;
  width: 100%;
  top: calc(10%);
  text-align: center;
  font-size: 3em;
  z-index: 10;
  opacity: 0;
}

.image__text-1-2 {
  position: absolute;
  width: 100%;
  bottom: calc(20%);
  text-align: center;
  font-size: 4em;
  z-index: 10;
  opacity: 0;
}

.image__text-2-1 {
  position: absolute;
  width: 100%;
  bottom: calc(25%);
  left: 75px;
  font-size: 3em;
  z-index: 10;
  opacity: 0;
}

.image__text-2-2 {
  position: absolute;
  width: 100%;
  bottom: calc(20%);
  left: 500px;
  font-size: 1.5em;
  z-index: 10;
  opacity: 0;
}

.image__text-3-1 {
  position: absolute;
  width: 100%;
  color: white;
  top: calc(50%);
  left: calc(10%);
  font-size: 3em;
  z-index: 10;
  opacity: 0;
}

.image__text-4-1 {
  position: absolute;
  width: 100%;
  color: white;
  bottom: calc(20%);
  text-align: right;
  right: 100px;
  font-size: 3em;
  z-index: 10;
  opacity: 0;
}

.image__text-5-1 {
  position: absolute;
  width: 100%;
  top: calc(30%);
  left: 150px;
  font-size: 3em;
  z-index: 10;
  opacity: 0;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes SlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 40px;
  margin: 50px 0;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn.slide-bg {
  overflow: hidden;
  z-index: 100;
}

.btn.slide-bg span {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.btn.slide-bg:hover {
  color: white;
  border: 1px solid white;
}

.btn.slide-bg:hover span {
  -webkit-transform: none;
          transform: none;
}

/*
@media (min-width: 480px) {
  @import "breakpoints/480up";
}

@media (min-width: 600px) {
  @import "breakpoints/600up";
}

@media (min-width: 960px) {
  @import "breakpoints/960up";
}

@media (min-width: 1280px) {
  @import "breakpoints/1280up";
}

@media (min-resolution: 192dpi)
      ,(-webkit-min-device-pixel-ratio: 2) {
  @import "breakpoints/2x";
}

@media print {
  @import "breakpoints/print";
}
*/
/*# sourceMappingURL=style.css.map */