$headerHeight: 80px;
$sidebarWidth: 220px;
$ghostWhite: #F8F8FF;

* {
  margin: 0;
  padding: 0;
}

#main-content {
  display: flex;
  flex-direction: row;
  z-index: 0;
}

#container {
  background-color: #F5F5F5;
  position: relative;
  height: 100vh;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}

body {
  margin: 0;
}
.wrap {
  overflow: hidden;
}

.main-contents {
  position: relative;
  height: $headerHeight;
  display: flex;
  width: 90vw;
}
/*
@media (min-width: 600px) {
  #main-content {
    display: flex;
  }
  #content-1 {
    flex-grow: 1;
  }
  #content-2 {
    flex-grow: 1;
  }
}*/

.sidebar {
  position: relative;
  display: block;
  top: $headerHeight;
  width: $sidebarWidth;
  height: 1000px;
  background-color: #4d4c4c;

  &__dummy-space {
    position: relative;
    
    &__1 {
      height: 30px;
    }
    &__2 {
      height: 15px;
    }
  }

  & ul {
    list-style: none;

    & > li {
      margin: 0;
      line-height: 30px;

      &:hover {
        background-color: #F5F5F5;

        & a {
          color: #333333;
        }
      }

      & a {
        display: block;
        width: 170px;
        text-decoration: none;
        font-size: 12px;
        color: #D0D0D0;
        padding: 2px 10px 2px 40px;
        text-overflow: ellipsis;
        overflow: hidden;  
        white-space: nowrap;
      }
    }
  }

  & h2 {
    text-align: center;
    margin: 0 0 5px 0;
    color: #D3D3D3;
  }

  & h3 {
    font-size: 16px;
    color: #D3D3D3;
    padding: 5px 10px 5px 20px;
  }
}

.btn-wrap {
  position: relative;
  height: 50px;
}

.new-thread-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 120px;
  border-radius: 2px;
  background-color: #3c8d93;
  border: none;
  color: $ghostWhite;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background-color: #2d6975;
    border: 1px solid $ghostWhite;
    transition: .3s ease;
  }
}

.main {
  position: relative;
  top: $headerHeight;
  width: 1000px;
  height: 1000px;
  background-color: #F5F5F5;
  flex: 1;

  & h1 {
    text-align: center;
    color: #606060;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
    margin: 10px;
  }
}

.item-list {
  position: relative;
  top: $headerHeight + 20px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  & > li {
    display: flex;
    width: 320px;
    height: 300px;
    margin: 10px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    text-align: center;
    overflow: hidden;

    & > a {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      text-decoration: none;

      & > img {
        width: 280px;
        height: 210px;
        margin: 15px auto 0 auto;
        object-fit: cover;
      }

      & .title {
        font-size: 14px;
        font-weight: bold;
        color: darkslategray;
        margin: 5px 10px;
      }

      & .tag {
        position: absolute;
        font-size: 8px;
        color: darkslategray;
        margin: 0 20px 0 0;
        bottom: 5px;
        right: 5px;
      }
    }
  }
}

.item-btn-wrap {
  position: relative;
  height: 30px;
}

.new-item-btn {
  position: absolute;
  top: 0;
  right: 10px;
  width: 150px;
  font-size: 18px;
  border-radius: 2px;
  background-color: #f88282;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  border: none;
  color: $ghostWhite;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background-color: #f05757;
    transition: .3s ease;
  }
}

.mc50-list {
  top: $headerHeight + 20px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  & > li {
    display: flex;
    width: 320px;
    height: 260px;
    margin: 10px;
    background-color: lightgray;
    //border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    text-align: center;
    cursor: pointer;
    overflow: hidden;

    & > div {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      text-decoration: none;

      & .ranking {
        font-size: 18px;
        font-weight: bold;
        color: #333333;
        margin: 5px auto;
      }

      & > img {
        width: 280px;
        height: 210px;
        margin: 5px auto 5px auto;
        object-fit: cover;
      }
    }
  }
}

.chat-board {
  display: block;
  position: fixed;
  top: $headerHeight + 50px;
  left: 1000px;
}

.slide-images {
  display: block;
  position: relative;
  top: $headerHeight + 50px;
  left: 100px;
}

.main-image {
  display: block;
  position: relative;
  width: 800px;
  height: 600px;
  cursor: pointer;
}

.sub-images {
  display: flex;
  position: relative;
  top: 30px;
  left: 0;

  &__element {
    width: 120px;
    height: 90px;
    margin: 20px;
    cursor: pointer;
  }
}

.hover-darken {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background-color 0.3s ease;
    pointer-events: none;
  }
  &:hover::before {
    background-color: rgba(0, 0, 0, .3);
  }
}

.hover-darken-event::before {
  pointer-events: painted;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  background-color: #333333;
  color: $ghostWhite;
  display: flex;
  align-items: center;
  z-index: 100;

  &__ul {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style: none;
  }

  &__li {
      margin-left: 20px;

      & > a {
          text-decoration: none !important;
          text-transform: uppercase;
      }
  }

  & .logo {
      font-size: 40px;
      justify-content: center;

      &__img {
        width: $headerHeight;
        height: $headerHeight;
      }
    }
  
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;;
    }

}

.image-animation {
  animation: SlideIn 2s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}

.text-animation-1 {
  animation: FadeIn 1s;
  animation-delay: 2s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}

.text-animation-2 {
  animation: FadeIn 1s;
  animation-delay: 3s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}

.button-animation {
  animation: FadeIn 1s;
  animation-delay: 2s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}

.image {
  position: relative;
  color: black;
  font-family: serif;

  & img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
  }

  &__button-1 {
    position: absolute;
    top: calc(10%);
    right: calc(10%);
    opacity: 0;
    font-family: serif;
    font-size: 2em;
    z-index: 10;
  }
  &__button-2 {
    position: absolute;
    top: calc(30%);
    left: calc(10%);
    opacity: 0;
    font-family: serif;
    font-size: 2em;
    z-index: 10;
  }
  &__button-3 {
    position: absolute;
    bottom: calc(30%);
    right: 100px;
    opacity: 0;
    font-family: serif;
    font-size: 2em;
    z-index: 10;
  }

  &__text-1-1 {
    position: absolute;
    width: 100%;
    top: calc(10%);
    text-align: center;
    font-size: 3em;
    z-index: 10;
    opacity: 0;
  }

  &__text-1-2 {
    position: absolute;
    width: 100%;
    bottom: calc(20%);
    text-align: center;
    font-size: 4em;
    z-index: 10;
    opacity: 0;
  }

  &__text-2-1 {
    position: absolute;
    width: 100%;
    bottom: calc(25%);
    left: 75px;
    font-size: 3em;
    z-index: 10;
    opacity: 0;
  }

  &__text-2-2 {
    position: absolute;
    width: 100%;
    bottom: calc(20%);
    left: 500px;
    font-size: 1.5em;
    z-index: 10;
    opacity: 0;
  }

  &__text-3-1 {
    position: absolute;
    width: 100%;
    color: white;
    top: calc(50%);
    left: calc(10%);
    font-size: 3em;
    z-index: 10;
    opacity: 0;
  }

  &__text-4-1 {
    position: absolute;
    width: 100%;
    color: white;
    bottom: calc(20%);
    text-align: right;
    right: 100px;
    font-size: 3em;
    z-index: 10;
    opacity: 0;
  }

  &__text-5-1 {
    position: absolute;
    width: 100%;
    top: calc(30%);
    left: 150px;
    font-size: 3em;
    z-index: 10;
    opacity: 0;
  }
}



@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 40px;
  margin: 50px 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;

  &.slide-bg {
      overflow: hidden;
      z-index: 100;
      
      & span {
         display: inline-block;
         width: 100%;
         height: 100%;
         background-color: black;
         position: absolute;
         top: 0;
         left: 0;
         transform: translateX(-100%);
         transition: transform 0.3s;
         z-index: -1;
      }

      &:hover {
          color: white;
          border: 1px solid white;

          & span {
              transform: none;
          }
      }
  }
}

